* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
}
.app-footer, .app-header {
    height: 5vh;
    background-color: darkseagreen;
    padding: 10px;
}
.book-app {
    min-height: 90vh;
    background-color: lightblue;
    padding: 10px;
}
.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 500px); */
    gap: 10px;
    list-style-type: none;
    background-color: darkcyan;
    padding: 10px;
}
.book-list ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: lightseagreen;
    padding: 10px;
}
.book-preview h2{
    height: 80px;
}

.app-header{
text-align: center;
}

.book-preview > *{
    margin: 10px auto;
}

.actions {
    justify-self: end;
    align-self:flex-end ;
}
.book-details {
    display: grid;
    text-align: center;
    background-color: rgb(104, 143, 154);
    padding: 10px;
    margin-block-end: 10px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.hide{
    display: none;
}


.book-details button{
    justify-self: end;
}
.book-details img{
    width: 200px;
    justify-self: center;
    transition: margin-bottom 1s;
}

.book-details img:hover{
    margin-bottom: 2px;
}

.book-details > *{
   margin: 10px auto;
}

.book-preview img{
    width: 100px;
    justify-self: end;
    box-shadow:none;
    transition: box-shadow 0.5s,width 0.5s;
}
.book-preview img:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   width: 110px;
}

.book-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(106, 126, 132);
    padding: 10px;
}
.book-review-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(106, 126, 132);
    padding: 10px;
}
.low-price{
    color: green;
}
.high-price{
    color: red;
}
.maxPrice-filter-input{
    margin-inline-start: 18px;
}

.ellipsis{
    white-space: nowrap; 
    overflow: hidden;
  text-overflow: ellipsis; 
}
.on-sale-img{
    /* border: none; */
    height: 80px;
    /* width: 10px; */
    background-image: url("../img/on-sale.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.stars {
  --s:50px;
  position:relative;
  display:inline-flex;
}
.stars input {
  width:var(--s);
  height:var(--s);
  margin:0;
  opacity:0;
  cursor:pointer;
}
.stars i {
  position:absolute;
  inset:0 0 calc(var(--s)*0.1);
  pointer-events:none;
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  background:
    linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),  
    linear-gradient(gold                       0 0)
    #ccc;
  background-size:calc(var(--l,0)*var(--s)) 100%,calc(var(--p,0)*var(--s)) 100%;
  background-repeat:no-repeat;
}
.stars {
  --s:50px;
  position:relative;
  display:inline-flex;
}
.stars input {
  width:var(--s);
  height:var(--s);
  margin:0;
  opacity:0;
  cursor:pointer;
}
.stars:focus-within {
  outline:1px solid;
}

input:active ~ i{--o:1}

input:nth-of-type(1):checked ~ i {--p:1}
input:nth-of-type(2):checked ~ i {--p:2}
input:nth-of-type(3):checked ~ i {--p:3}
input:nth-of-type(4):checked ~ i {--p:4}
input:nth-of-type(5):checked ~ i {--p:5}
input:nth-of-type(6):checked ~ i {--p:6}
input:nth-of-type(7):checked ~ i {--p:7}
input:nth-of-type(8):checked ~ i {--p:8}
input:nth-of-type(9):checked ~ i {--p:9}
input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {--l:1}
input:nth-of-type(2):hover ~ i {--l:2}
input:nth-of-type(3):hover ~ i {--l:3}
input:nth-of-type(4):hover ~ i {--l:4}
input:nth-of-type(5):hover ~ i {--l:5}
input:nth-of-type(6):hover ~ i {--l:6}
input:nth-of-type(7):hover ~ i {--l:7}
input:nth-of-type(8):hover ~ i {--l:8}
input:nth-of-type(9):hover ~ i {--l:9}
input:nth-of-type(10):hover ~ i {--l:10}
/*input:nth-of-type(N):hover ~ i {--l:N}*/
.stars i {
  position:absolute;
  inset:0 0 calc(var(--s)*0.1);
  pointer-events:none;
  /* the star */
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  /**/
  background:
    linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),  
    linear-gradient(gold                       0 0)
    #ccc;
  background-size:
     calc(var(--l,0)*var(--s)) 100%,
     calc(var(--p,0)*var(--s)) 100%;
  background-repeat:no-repeat;
}